[Settings]
Max Steeringwheel degrees				= 270
Default Max Steeringwheel degrees=60


[Animation Frames]
Normal							= 5

Gear Start						= 15
Gear							= 20
Gear Pushed						= 25

Handbrake Start						= 30
Handbrake						= 35
Handbrake Pulled					= 40

Gear to Handbrake					= 45
Handbrake from Gear					= 50

Steeringwheel Gear Start				= 45
Steeringwheel Gear					= 50


[Animation Lengths]
From Steeringwheel to Gear				= 0.3
From Gear to Gear Pushed				= 0.2
From Steeringwheel to Handbrake				= 0.3
From Handbrake to Handbrake Pulled			= 0.1421154821184772105
From Gear to Handbrake					= 0.3
Steeringwheel Gear						= 1.0


[Animation Tangents]
Hand From Steeringwheel					= 0 0 300
Elbow From Steeringwheel				= 0 0 300

Hand From Gear to Steeringwheel				= 0 0 -300
Elbow From Gear to Steeringwheel			= 0 0 -300

Hand From Handbrake to Steeringwheel			= 0 0 300
Elbow From Handbrake to Steeringwheel			= 0 0 300

Hand From Gear to Gear Pushed				= 0 0 -100
Hand From Gear Pushed to Gear				= 0 0 -100
Elbow From Gear to Gear Pushed				= 0 0 -100
Elbow From Gear Pushed to Gear				= 0 0 -100

Hand From Handbrake to Handbrake Pulled			= 0 0 100
Hand From Handbrake Pulled to Handbrake			= 0 0 100
Elbow From Handbrake to Handbrake Pulled		= 0 0 100
Elbow From Handbrake Pulled to Handbrake		= 0 0 100

Hand From Gear to Handbrake				= 0 300 0
Hand From Handbrake to Gear				= 0 300 0
Elbow From Gear to Handbrake				= 0 300 0
Elbow From Handbrake to Gear				= 0 300 0
